<form (ngSubmit)="searchForms()">
  <div class="input-search-patient-line">
    <tui-input class="input-search-patient">
      Название анкеты
    </tui-input>
    <button
      tuiButton
      type="submit"
    >
      Найти
    </button>
  </div>
  <button
    tuiButton
    type="button"
    [iconRight]="arrow"
    (click)="toggle()"
  >
  </button>
  <tui-expand [expanded]="expanded">
    ef
    <ng-template tuiExpandContent>
      <tui-input class="input-search-patient">
        Название анкеты
      </tui-input>
      <tui-input class="input-search-patient">
        Название анкеты
      </tui-input>
      <tui-input class="input-search-patient">
        Название анкеты
      </tui-input>
    </ng-template>
  </tui-expand>
</form>
<div class="forms-container">
  <app-form-card
    *ngFor="let form of forms$ | async"
    [form]="form">
  </app-form-card>
</div>
