<form (ngSubmit)="searchForms()">
  <div class="input-search-patient-line">
    <tui-input class="input-search-patient">
      Название анкеты
    </tui-input>
    <button
      tuiButton
      type="submit"
    >
      Найти
    </button>
  </div>
  <tui-accordion class="tui-space_top-3">
    <tui-accordion-item>
      Фильтры
      <ng-template tuiAccordionItemContent>
        <div tuiGroup>
          <tui-input class="input-search-patient">
            Название анкеты
          </tui-input>
          <tui-input class="input-search-patient">
            Название анкеты
          </tui-input>
          <tui-input class="input-search-patient">
            Название анкеты
          </tui-input>
        </div>
      </ng-template>
    </tui-accordion-item>
  </tui-accordion>
</form>
<div class="forms-container tui-space_top-3">
  <app-form-card
    *ngFor="let form of forms$ | async"
    [form]="form">
  </app-form-card>
</div>
