.patient-search {
  width: 100%;
  padding-top: 20px;
  align-items: center;
  gap: 10px;
}

.input-search-patient {
  width: 100%;
}

.input-search-patient-line {
  display: flex;
  gap: 10px;

}

.input-filters {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

tui-badge {
  margin: 0.5rem;
}

.search {
  width: 10rem;
}

.patients-table {
  width: 100%;
}
