:host {
  display: flex;
  flex-direction: column;
  width: 1174px;
}

.module-content-actions-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.module-content-item-container {
  width: 244px;
  display: flex;
  flex-direction: column;
}

.module-items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
