<div class="patient-content">
  <div class="left-nav">
    <tui-tabs
      [(activeItemIndex)]="activeItemIndex"
      vertical="left"
      class="left"
    >
      <button
        tuiTab
        routerLink="./"
        routerLinkActive="active"
      >
        Персональная информация
      </button>
      <button
        tuiTab
        routerLink="ehr"
        routerLinkActive="active"
      >
        ЭМК
      </button>
      <button
        tuiTab
        routerLink="rehab-history"
        routerLinkActive="active"
      >
        История проведения медицинских реабилитаций
      </button>
      <button
        tuiTab
        routerLink="rehab"
        routerLinkActive="active"
      >
        Программа реабилитации
      </button>
    </tui-tabs>
  </div>
  <router-outlet></router-outlet>
</div>

