.module-buttons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.module-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 1;
}
