<form [formGroup]="searchProgramForm" (ngSubmit)="searchRehabPrograms()">
  {{searchProgramForm.value | json}}
  <div class="input-search-patient-line">
    <div class="input-search-patient" tuiGroup>
      <tui-input
        formControlName="lastName"
        [tuiTextfieldCleaner]="true"
        [tuiTextfieldLabelOutside]="true"
      >
        Фамилия
      </tui-input>
      <tui-input
        formControlName="firstName"
        [tuiTextfieldCleaner]="true"
        [tuiTextfieldLabelOutside]="true"
      >
        Имя
      </tui-input>
      <tui-input
        formControlName="middleName"
        [tuiTextfieldCleaner]="true"
        [tuiTextfieldLabelOutside]="true"
      >
        Отчество
      </tui-input>
    </div>
    <button
      tuiButton
      type="submit"
    >
      Найти
    </button>
  </div>
  <tui-accordion class="tui-space_top-3">
    <tui-accordion-item>
      Фильтры
      <ng-template tuiAccordionItemContent>
        <div tuiGroup>
          <tui-input-date-range
            formControlName="dateRange"
            tuiUnfinishedValidator="Выберите даты"
            [tuiTextfieldCleaner]="true"
            [max]="max"
            [min]="min"
          >
            Выберите даты
            <input
              placeholder="From - To"
              tuiTextfield
            />
          </tui-input-date-range>
          <tui-multi-select
            formControlName="status"
            class="search"
            [tuiTextfieldCleaner]="true"
            [editable]="false"
            [expandable]="true"
            [tuiTextfieldLabelOutside]="true"
          >
            Статус
            <tui-data-list-wrapper
              *tuiDataList
              tuiMultiSelectGroup
              [items]="items"
            ></tui-data-list-wrapper>
          </tui-multi-select>
        </div>
      </ng-template>
    </tui-accordion-item>
  </tui-accordion>
</form>
<h5>Ваши программы реабилитации</h5>
<div class="rehab-programs-container tui-space_top-3">
  <app-rehab-detail-card
    *ngFor="let program of rehabPrograms"
    [rehabProgram]="program"
  ></app-rehab-detail-card>
</div>
