<form [formGroup]="searchProgramForm" (ngSubmit)="onSubmit()">
  <div class="input-search-patient-line">
    <div class="input-search-patient" tuiGroup>
      <tui-input
        formControlName="lastName"
        [tuiTextfieldCleaner]="true"
        [tuiTextfieldLabelOutside]="true"
      >
        Фамилия
      </tui-input>
      <tui-input
        formControlName="firstName"
        [tuiTextfieldCleaner]="true"
        [tuiTextfieldLabelOutside]="true"
      >
        Имя
      </tui-input>
      <tui-input
        formControlName="middleName"
        [tuiTextfieldCleaner]="true"
        [tuiTextfieldLabelOutside]="true"
      >
        Отчество
      </tui-input>
    </div>
    <button
      tuiButton
      type="submit"
    >
      Найти
    </button>
  </div>
  <tui-accordion class="tui-space_top-3">
    <tui-accordion-item>
      Фильтры
      <ng-template tuiAccordionItemContent>
        <div class="input-search-patient-line">
          <div
            class="input-search-patient"
            tuiGroup>
            <tui-input-date-range
              formControlName="startDateRange"
              tuiUnfinishedValidator="Выберите даты"
              [tuiTextfieldCleaner]="true"
              [max]="max"
              [min]="min"
            >
              Дата начала программы
              <input
                tuiTextfield
              />
            </tui-input-date-range>
            <tui-input-date-range
              formControlName="endDateRange"
              tuiUnfinishedValidator="Выберите даты"
              [tuiTextfieldCleaner]="true"
              [max]="max"
              [min]="min"
            >
              Дата окончания программы
              <input
                tuiTextfield
              />
            </tui-input-date-range>
          </div>
          <div
            class="input-search-patient"
            tuiGroup
          >
            <tui-radio-block
              formControlName="status"
              item="true"
            >
              Текущие
            </tui-radio-block>
            <tui-radio-block
              formControlName="status"
              item="false"
            >
              Завершенные
            </tui-radio-block>
            <tui-radio-block
              formControlName="status"
              [item]="null"
            >
              Все
            </tui-radio-block>
          </div>
        </div>
      </ng-template>
    </tui-accordion-item>
  </tui-accordion>
</form>
<h5>Ваши программы реабилитации</h5>
<div class="rehab-programs-container tui-space_top-3">
  <ng-container
    *ngIf="data$ | async as response"
  >
    <app-rehab-detail-card
      *ngFor="let program of response.content"
      [rehabProgram]="program"
    ></app-rehab-detail-card>
    <tui-table-pagination
      style="width: 100%"
      class="tui-space_top-2"
      [items]="pageSizes"
      [total]="response.totalElements"
      (paginationChange)="paginationChange($event)"
      [page]="page"
      [size]="size"
    ></tui-table-pagination>
  </ng-container>
</div>
