<ng-container *ngIf="!!patient; else loading">
  <app-detail-card heading="Информация">
    <label tuiLabel="Пол"></label>
    <div>
      <label tuiLabel="Дата">{{patient.birthDate}}</label>
      <label tuiLabel="Возраст"></label>
    </div>
    <label tuiLabel="Дата смерти">-</label>
    <label tuiLabel="Статус">{{patient.patientStatus.name}}</label>
    <label tuiLabel="Место жительства">{{patient.address}}</label>
    <label tuiLabel="Данные о работе">{{patient.workPlaceData}}</label>
    <label tuiLabel="Заметка врача">{{patient.bookmark}}</label>
  </app-detail-card>
  <app-detail-card heading="Паспорт">
    <label tuiLabel="Серия и номер паспорта">{{patient.passport.series + ' ' + patient.passport.number}}</label>
    <label tuiLabel="Выдан">{{patient.passport.issued}}</label>
    <label tuiLabel="Дата выдачи">{{patient.passport.issuedDate}}</label>
  </app-detail-card>
  <app-detail-card heading="СНИЛС">
    <label tuiLabel="Номер">{{patient.snils}}</label>
  </app-detail-card>
  <app-detail-card heading="Полис">
    <label tuiLabel="Номер">{{patient.polis}}</label>
  </app-detail-card>
</ng-container>
<ng-template #loading>
  Z
</ng-template>
