<ng-container *ngIf="isLoaded">
  <ng-container *ngIf="rehabProgram">
    {{protocolForm.value | json}}
    <form [formGroup]="protocolForm" (ngSubmit)="createProtocol()">
      <h2>Оценка состояния по шкалам</h2>
      <div formArrayName="programScales" class="protocol-scales-container">
        <div
          *ngFor="let control of programScales.controls; let i = index"
          class="protocol-scale-container">
          <tui-textarea
            style="width: 100%"
            [tuiTextfieldCleaner]="true"
            [tuiTextfieldLabelOutside]="true"
            [formControlName]="i"
            [readOnly]="true"
            [expandable]="true"
          >
          </tui-textarea>
          <button
            tuiButton
            appearance="icon"
            [icon]="'tuiIconClose'"
            tuiIconButton
            type="button"
            (click)="removeProgramFormResult(i)"
          >
          </button>
        </div>
      </div>
      <button
        tuiButton
        type="button"
        size="s"
        (click)="openDialog(scales_dialog)"
      >
        Добавить шкалу
      </button>
      <h2>Результат реабилитации</h2>
      <tui-textarea
        formControlName="result"
        [expandable]="true"
      ></tui-textarea>
      <h2>Реабилитационный диагноз</h2>
      <tui-textarea
        formControlName="diagnosis"
        [expandable]="true"
      ></tui-textarea>
      <h2>Рекомендации</h2>
      <tui-textarea
        formControlName="recommendations"
        [expandable]="true"
      ></tui-textarea>
      <button
        tuiButton
        type="submit"
        size="s"
      >
        Создать
      </button>
    </form>
  </ng-container>
</ng-container>
<ng-template
  #scales_dialog
  let-observer
>
  <ng-container *tuiLet="programFormsResults | async as programResults">
    <div *ngFor="let result of programResults">
      <p>{{result.finishedAt | date}}</p>
    </div>
  </ng-container>
  <hr/>
  <ng-container *tuiLet="modulesFormsResults | async as programResults">
    <div *ngFor="let result of programResults">
      <p>{{result.finishedAt | date}}</p>
    </div>
  </ng-container>
</ng-template>

