<ng-container *ngIf="isLoaded">
  <ng-container *ngIf="rehabProgram.isCurrent && canEditRehabProgram(rehabProgram)">
    <button
      class="tui-space_bottom-3"
      tuiButton
      (click)="openProtocolCreationDialog(protocol_creation_dialog)"
    >
      Создать новый протокол
    </button>
    <hr/>
  </ng-container>
  <ng-container *ngIf="protocols$ | async as protocols">
    <tui-accordion-item
      class="tui-space_top-3"
      *ngFor="let protocol of protocols"
    >
      <strong>Протокол от {{protocol.creationDate | date}}</strong>
      <ng-template tuiAccordionItemContent>
        <div class="completed-protocol-container">
          <label
            [tuiLabel]="'Врач'">{{rehabProgram.doctor.lastName}} {{rehabProgram.doctor.firstName}} {{rehabProgram.doctor.middleName}}</label>
          <label [tuiLabel]="'Результаты реабилитации по шкалам'">{{protocol.scalesResult}}</label>
          <label [tuiLabel]="'Результат реабилитации'">{{protocol.rehabResult}}</label>
          <label [tuiLabel]="'Ребилитационный диагноз'">{{protocol.rehabDiagnosis}}</label>
          <label [tuiLabel]="'Рекомендации'">{{protocol.recommendations}}</label>
        </div>
      </ng-template>
    </tui-accordion-item>
  </ng-container>
</ng-container>
<ng-template #protocol_creation_dialog let-observer>
  <app-create-protocol-dialog
    [rehabProgram]="rehabProgram"
    (protocols)="getProtocols($event); observer.complete()">
  </app-create-protocol-dialog>
</ng-template>

