<div class="patient-content">
  <div class="left-nav tui-space_top-3">
    <a
      tuiLink
      icon="tuiIconChevronLeftLarge"
      iconAlign="left"
      [routerLink]="['/patient', patientCode]"
    >
      На страницу пациента
    </a>
    <tui-tabs
      vertical="left"
      class="left"
    >
      <button
        tuiTab
        routerLink="./"
        routerLinkActive="active"
      >
        Программа реабилитации
      </button>
      <button
        tuiTab
        routerLink="results"
        routerLinkActive="active"
      >
        Результаты реабилитации
      </button>
      <button
        tuiTab
        routerLink="protocols"
        routerLinkActive="active"
      >
        Протокол телемедицинской реабилитации
      </button>
    </tui-tabs>
  </div>
  <div class="patient-details">
    <div *ngIf="isLoaded">
      <h4 class="tui-space_top-3 tui-space_bottom-6"><label
        [tuiLabel]="'Пациент'">{{patient.lastName}} {{patient.firstName}} {{patient.middleName}}</label></h4>
    </div>
    <div *ngIf="!isLoaded" style="display: flex">
      <h2 class="tui-space_top-3 tui-space_bottom-6">
        <label
          [tuiLabel]="'Пациент'" [class.tui-skeleton]="true"
          [style.--tui-skeleton-radius.px]="12">
          ЗАГРУЗКА ПАЦИЕНТА
        </label>
      </h2>
    </div>
    <hr/>
    <router-outlet class="tui-space_top-3"></router-outlet>
  </div>
</div>

