<tui-tabs
  [(activeItemIndex)]="activeItemIndex"
  vertical="right"
  class="right"
>
  <button
    tuiTab
    routerLink="./"
    routerLinkActive="active"
  >
    Персональная информация
  </button>
  <button
    tuiTab
    routerLink="ehr"
    routerLinkActive="active"
  >
    ЭМК
  </button>
  <button
    tuiTab
    routerLink="/rehab"
    routerLinkActive="active"
  >
    Программа реабилитации
  </button>

</tui-tabs>
<div>
  <div>
    {{patient.lastName + ' ' + patient.firstName + ' ' + patient.middleName}}
  </div>
</div>

<button
  *ngIf="patient.doctor === null"
  tuiButton
  (click)="deleteFromMyPatients()"
  size="m"
  appearance="outline"
>
  Удалить из "Мои пациенты"
</button>
<button
  *ngIf="patient.doctor !== null"
  tuiButton
  (click)="addToMyPatients()"
  size="m"
  appearance="outline"
>
  Добавить в "Мои пациенты"
</button>


<router-outlet></router-outlet>
