<tui-tabs
  [(activeItemIndex)]="activeItemIndex"
  vertical="right"
  class="right"
>
  <button
    tuiTab
    routerLink="./"
    routerLinkActive="active"
  >
    Персональная информация
  </button>
  <button
    tuiTab
    routerLink="ehr"
    routerLinkActive="active"
  >
    ЭМК
  </button>
  <button
    tuiTab
    routerLink="rehab"
    routerLinkActive="active"
  >
    Программа реабилитации
  </button>

</tui-tabs>
<div>
  <div>
    {{patient.lastName + ' ' + patient.firstName + ' ' + patient.middleName}}
  </div>
</div>

<router-outlet></router-outlet>
