.left-nav {
  width: 236px;
  align-content: flex-start;
}

.pat-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.patient-content {
  display: flex;
  align-items: flex-start;
  gap: 26px;
}

.patient-details{
  display: flex;
  width: 874px;
  flex-direction: column;
  align-items: center;
  gap: 10px
}

.detail-island {
  display: flex;
  padding: 10px;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid #EDEDED;
  background: #FFF;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.10);
}
