<ng-container *ngIf="isLoaded; else loading">
  <ng-container *ngIf="hasProgram; else no_rehab">
    <div class="detail-block">
      <h2>Выписной эпикриз</h2>
      <div class="detail-island">
        <span>Выписной эпикриз</span>
      </div>
    </div>
    <div class="detail-block">
      <h2>Входная анкета</h2>
      <div class="detail-island">
        <ng-container *ngFor="let startForm of rehabProgram.forms">
          <ng-container *ngIf="startForm.typeId === 1">
            <app-form-block [form]="startForm"></app-form-block>
          </ng-container>
        </ng-container>
        <button
          tuiButton
          appearance="secondary"
          size="s"
          (click)="showAddFormDialog('START')"
        >
          Добавить анкету
        </button>
      </div>
    </div>
    <div class="detail-block">
      <h2>Мероприятия медицинской реабилитации</h2>
      <div class="detail-island">
        <div class="modules-wrapper">
          <app-modules-block
            *ngFor="let module of rehabProgram.modules; let i = index"
            [module]="module"
            [index]="i"
            class="module-island"
          ></app-modules-block>
        </div>
        <button
          tuiButton
          appearance="secondary"
          size="s"
          (click)="showAddModuleDialog()"
        >
          Добавить модуль
        </button>
      </div>
    </div>
    <div class="detail-block">
      <h2>Выходная анкета</h2>
      <div class="detail-island">
        <ng-container *ngFor="let startForm of rehabProgram.forms">
          <ng-container *ngIf="startForm.typeId === 2">
            <app-form-block [form]="startForm"></app-form-block>
          </ng-container>
        </ng-container>
        <button
          tuiButton
          appearance="secondary"
          size="s"
          (click)="showAddFormDialog('END')"
        >
          Добавить анкету
        </button>
      </div>
    </div>
    <button
      tuiButton
      appearance="primary"
      size="s"
    >
      Сохранить
    </button>
  </ng-container>
</ng-container>
<ng-template #loading>
  <tui-loader [showLoader]="true" [size]="'xxl'" class="loader"></tui-loader>
</ng-template>
<ng-template #no_rehab>
  <p>Действующая программа реабилитации отсутсвует</p>
  <button
    tuiButton
    appearance="primary"
    size="s"
    (click)="showDialog(confirm_rehab_creation_dialog)"
  >
    Создать
  </button>
</ng-template>
<ng-template
  #confirm_rehab_creation_dialog
  let-observer
>
  <h2>Подтвердите дейтсвие</h2>
  <p>Начать программу реабилитации?</p>
  <button
    tuiButton
    size="m"
    appearance="primary"
    type="button"
    class="tui-space_right-3"
    (click)="observer.complete(); createRehabProgram()"
  >
    Начать
  </button>
  <button
    tuiButton
    size="m"
    appearance="secondary"
    type="button"
    (click)="observer.complete()"
  >
    Отмена
  </button>
</ng-template>
