<ng-container *ngIf="isLoaded; else loading">
  <div class="rehab-program-info tui-space_bottom-3">
    <label
      [tuiLabel]="'Врач'">{{rehabProgram.doctor.lastName}} {{rehabProgram.doctor.firstName}} {{rehabProgram.doctor.middleName}}</label>
    <label [tuiLabel]="'Статус'">
      <tui-badge
        [status]="status"
        size="l"
        class="tui-space_right-2 tui-space_bottom-2"
        [value]="value"
      ></tui-badge>
    </label>
  </div>
  <div class="rehab-program-info tui-space_bottom-3">
    <label [tuiLabel]="'Дата начала'">{{rehabProgram.startDate | date}}</label>
    <label *ngIf="!rehabProgram.isCurrent" [tuiLabel]="'Дата окончания'">{{rehabProgram.endDate | date}}</label>
  </div>
  <tui-accordion [closeOthers]="false">
    <tui-accordion-item [open]="true">
      <strong>Входные анкеты</strong>
      <ng-template tuiAccordionItemContent>
        <div class="forms-block-container">
          <ng-container *ngFor="let startForm of rehabProgram.forms" style="display:flex;">
              <app-form-block
                *ngIf="startForm.typeId === 1"
                [form]="startForm"
                [isProgramCompleted]="rehabProgram.isCurrent"
                (onDeleteButtonPressed)="deleteForm($event)"
              ></app-form-block>
          </ng-container>
        </div>
        <button
          *ngIf="rehabProgram.isCurrent"
          class="tui-space_top-3"
          tuiButton
          appearance="secondary"
          size="m"
          (click)="showAddFormDialog('START')"
        >
          Добавить анкету
        </button>
      </ng-template>
    </tui-accordion-item>
    <tui-accordion-item [open]="true">
      <strong>Модули</strong>
      <ng-template tuiAccordionItemContent>
        <app-module-block
          *ngFor="let module of rehabProgram.modules; let i = index"
          [module]="module"
          [editable]="rehabProgram.isCurrent"
          [index]="i"
          (onDeleteButtonPressed)="deleteModule($event)"
          class="module-island border-shadow"
        ></app-module-block>
        <button
          *ngIf="rehabProgram.isCurrent"
          class="tui-space_top-3"
          tuiButton
          appearance="secondary"
          size="m"
          (click)="showAddModuleDialog()"
        >
          Добавить модуль
        </button>
      </ng-template>
    </tui-accordion-item>
    <tui-accordion-item [open]="true">
      <strong>Выходные анкеты</strong>
      <ng-template tuiAccordionItemContent>
        <div class="forms-block-container">
          <ng-container *ngFor="let endForm of rehabProgram.forms">
            <app-form-block
              *ngIf="endForm.typeId === 2"
              [form]="endForm"
              [isProgramCompleted]="rehabProgram.isCurrent"
              (onDeleteButtonPressed)="deleteForm($event)"
            ></app-form-block>
          </ng-container>
        </div>
        <button
          *ngIf="rehabProgram.isCurrent"
          class="tui-space_top-3"
          tuiButton
          appearance="secondary"
          size="m"
          (click)="showAddFormDialog('END')"
        >
          Добавить анкету
        </button>
      </ng-template>
    </tui-accordion-item>
  </tui-accordion>
</ng-container>
<ng-template #loading>
  <tui-loader [showLoader]="true" [size]="'xxl'" class="loader"></tui-loader>
</ng-template>
