.loader {
  width: 100px;
  height: 100px;
  border-radius: 12px;
}

.rehab-program-info {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.modules-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.modules-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
  position: relative;
}

.module-island:last-child {
  margin-bottom: 1rem;
}

.forms-block-container {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
}
