<img class="logo " [src]="logo_im" alt="Organization Logo">
<h1>Название организации</h1>
<form [formGroup]="loginForm" (ngSubmit)="submit()">
  <div class="login-form-container">
    <div class="login-fields-container">
      <tui-input
        formControlName="username"
        class="w-full p-3">
        Логин
        <input
          tuiTextfield
          type="text"
        />
      </tui-input>
      <tui-input
        formControlName="password"
        class="w-full p-3">
        Пароль
        <input
          tuiTextfield
          type="password"
        />
      </tui-input>
    </div>
    <button
      type="submit"
      [disabled]="!loginForm.valid"
      class="w-56"
      appearance="primary"
      tuiButton
    >
      Войти
    </button>
  </div>
</form>





