<div class="patient-search">
  <form [formGroup]="searchPatients" (ngSubmit)="onSubmit()">
    {{searchPatients.value | json}}
    <div class="input-search-patient-line">
      <tui-input
        class="input-search-patient"
        tuiTextfieldSize="m"
        formControlName="lastName"
        [tuiTextfieldCleaner]="true"
        [tuiTextfieldLabelOutside]="true"
      >
        Фамилия
        <input tuiTextfield/>
      </tui-input>
      <tui-input
        class="input-search-patient"
        tuiTextfieldSize="m"
        formControlName="firstName"
        [tuiTextfieldCleaner]="true"
        [tuiTextfieldLabelOutside]="true"
      >
        Имя
        <input tuiTextfield/>
      </tui-input>
      <tui-input
        class="input-search-patient"
        tuiTextfieldSize="m"
        formControlName="middleName"
        [tuiTextfieldCleaner]="true"
        [tuiTextfieldLabelOutside]="true"
      >
        Отчество
        <input tuiTextfield/>
      </tui-input>
      <button
        type="submit"
        tuiButton
        size="m"
      >
        Найти
      </button>
    </div>
    <tui-accordion class="tui-space_top-3">
      <tui-accordion-item
        size="s"
      >
        Фильтры
        <ng-template tuiAccordionItemContent>
          <div class="input-filters">
            <tui-multi-select
              formControlName="status"
              class="search"
              tuiTextfieldSize="m"
              [tuiTextfieldCleaner]="true"
              [editable]="false"
              [expandable]="true"
              [tuiTextfieldLabelOutside]="true"
            >
              Статус
              <tui-data-list-wrapper
                *tuiDataList
                tuiMultiSelectGroup
                [items]="items"
              ></tui-data-list-wrapper>
            </tui-multi-select>
            <tui-select
              formControlName="gender"
              [tuiTextfieldCleaner]="true"
              class="search"
              tuiTextfieldSize="m"
            >
              Пол
              <tui-data-list-wrapper
                *tuiDataList
                [items]="gender"
              ></tui-data-list-wrapper>
            </tui-select>
            <tui-input-date
              class="search"
              [tuiTextfieldCleaner]="true"
              tuiTextfieldSize="m"
              formControlName="birthDate"
              tuiUnfinishedValidator="Заполните дату"
            >
              Дата рождения
            </tui-input-date>
            <tui-error
              formControlName="birthDate"
              [error]="[] | tuiFieldError | async"
            ></tui-error>
            <tui-checkbox-labeled formControlName="isDead">
              <div class="example">Умершие</div>
            </tui-checkbox-labeled>
          </div>
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>
  </form>
</div>

<table
  tuiTable
  *ngIf="patients$ | async as patients"
  [columns]="columns"
  size="m"
  class="patients-table tui-space_top-3"
>
  <thead>
  <tr tuiThGroup>
    <th tuiTh *tuiHead="'lastName'">
      Фамилия
    </th>
    <th tuiTh *tuiHead="'firstName'">
      Имя
    </th>
    <th tuiTh *tuiHead="'middleName'">
      Отчество
    </th>
    <th tuiTh *tuiHead="'gender'">
      Пол
    </th>
    <th tuiTh *tuiHead="'birthDate'">
      Дата рождения
    </th>
    <th tuiTh *tuiHead="'status'" [sorter]="null">
      Статус
    </th>
    <th tuiTh *tuiHead="'action'" [sorter]="null">
    </th>
  </tr>
  </thead>
  <tbody
    *tuiLet="patients | tuiTableSort as sortedPatients"
    tuiTbody
    [data]="sortedPatients"
  >
  <tr
    *ngFor="let patient of sortedPatients"
    tuiTr
  >
    <td tuiTd *tuiCell="'lastName'">
      {{patient.lastName}}
    </td>
    <td tuiTd *tuiCell="'firstName'">
      {{patient.firstName}}
    </td>
    <td tuiTd *tuiCell="'middleName'">
      {{patient.middleName}}
    </td>
    <td tuiTd *tuiCell="'gender'">
      {{patient.gender}}
    </td>
    <td tuiTd *tuiCell="'birthDate'">
      {{patient.birthDate}}
    </td>
    <td tuiTd *tuiCell="'status'">
      <tui-badge
        [status]="statusResolver(patient.patientStatus)"
        [value]="patient.patientStatus.name"
        class="tui-space_right-2 tui-space_bottom-2"
      ></tui-badge>
    </td>
    <td tuiTd *tuiCell="'action'">
      <tui-hosted-dropdown
        [content]="dropdown"
      >
        <button
          tuiIconButton
          appearance="flat"
          [icon]="'tuiIconMoreVertical'"
          size="s"
          shape="rounded"
          type="button"
        ></button>
      </tui-hosted-dropdown>
    </td>
    <ng-template #dropdown>
      <tui-data-list>
        <tui-opt-group>
          <button
            tuiOption
            [routerLink]="['/patient', patient.patientCode]"
          >
            Перейти к пациенту
          </button>
        </tui-opt-group>
      </tui-data-list>
    </ng-template>
  </tr>
  </tbody>
</table>

