.patient-search {
  width: 100%;
}

.input-filters {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

tui-badge {
  margin: 0.5rem;
}

.search {
  width: 10rem;
}

.patients-table {
  width: 100%;
}

td,
th {
  white-space: nowrap;
  border-color: transparent;
  border-right-color: var(--tui-base-04);

  &:last-child {
    border-right-color: transparent;
  }
}

tbody {
  border-color: transparent;
}

tr:nth-child(even) td {
  background: var(--tui-base-02);
}
