<div class="patient-search">
  <form [formGroup]="searchPatients" (ngSubmit)="onSubmit()">
    <div class="input-search-patient-line">
      <div class="input-search-patient" tuiGroup>
        <tui-input
          formControlName="lastName"
          [tuiTextfieldCleaner]="true"
          [tuiTextfieldLabelOutside]="true"
        >
          Фамилия
          <input tuiTextfield/>
        </tui-input>
        <tui-input
          formControlName="firstName"
          [tuiTextfieldCleaner]="true"
          [tuiTextfieldLabelOutside]="true"
        >
          Имя
          <input tuiTextfield/>
        </tui-input>
        <tui-input
          formControlName="middleName"
          [tuiTextfieldCleaner]="true"
          [tuiTextfieldLabelOutside]="true"
        >
          Отчество
          <input tuiTextfield/>
        </tui-input>
      </div>
      <button
        type="submit"
        tuiButton
      >
        Найти
      </button>
    </div>
    <tui-accordion class="tui-space_top-3">
      <tui-accordion-item>
        Фильтры
        <ng-template tuiAccordionItemContent>
          <div tuiGroup>
            <tui-multi-select
              formControlName="status"
              class="search"
              [tuiTextfieldCleaner]="true"
              [editable]="false"
              [expandable]="true"
              [tuiTextfieldLabelOutside]="true"
            >
              Статус
              <tui-data-list-wrapper
                *tuiDataList
                tuiMultiSelectGroup
                [items]="items"
              ></tui-data-list-wrapper>
            </tui-multi-select>
            <tui-select
              formControlName="gender"
              class="search"
              [tuiTextfieldCleaner]="true"
            >
              Пол
              <tui-data-list-wrapper
                *tuiDataList
                [items]="gender"
              ></tui-data-list-wrapper>
            </tui-select>
            <tui-input-date
              class="search"
              [tuiTextfieldCleaner]="true"
              formControlName="birthDate"
              tuiUnfinishedValidator="Заполните дату"
            >
              Дата рождения
            </tui-input-date>
          </div>
            <tui-error
              formControlName="birthDate"
              [error]="[] | tuiFieldError | async"
            ></tui-error>
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>
  </form>
</div>
<h5>Список пациентов</h5>
<table
  tuiTable
  *ngIf="data$ | async as response"
  [columns]="columns"
  size="l"
  class="patients-table tui-space_top-3"
>
  <thead>
  <tr tuiThGroup>
    <th tuiTh *tuiHead="'lastName'">
      Фамилия
    </th>
    <th tuiTh *tuiHead="'firstName'">
      Имя
    </th>
    <th tuiTh *tuiHead="'middleName'">
      Отчество
    </th>
    <th tuiTh *tuiHead="'gender'">
      Пол
    </th>
    <th tuiTh *tuiHead="'birthDate'">
      Дата рождения
    </th>
    <th tuiTh *tuiHead="'status'" [sorter]="null">
      Статус
    </th>
    <th tuiTh *tuiHead="'action'" [sorter]="null">
    </th>
  </tr>
  </thead>
  <tbody
    *tuiLet="response.content | tuiTableSort as sortedPatients"
    tuiTbody
    [data]="sortedPatients"
  >
  <tr
    *ngFor="let patient of sortedPatients"
    tuiTr
  >
    <td tuiTd *tuiCell="'lastName'">
      {{patient.lastName}}
    </td>
    <td tuiTd *tuiCell="'firstName'">
      {{patient.firstName}}
    </td>
    <td tuiTd *tuiCell="'middleName'">
      {{patient.middleName}}
    </td>
    <td tuiTd *tuiCell="'gender'">
      <ng-container *ngIf="patient.gender === 'm'">
        М
      </ng-container>
      <ng-container *ngIf="patient.gender === 'f'">
        Ж
      </ng-container>
    </td>
    <td tuiTd *tuiCell="'birthDate'">
      {{patient.birthDate}}
    </td>
    <td tuiTd *tuiCell="'status'">
      <tui-badge
        size="l"
        [status]="statusResolver(patient.patientStatus)"
        [value]="patient.patientStatus.name"
        class="tui-space_right-2 tui-space_bottom-2"
      ></tui-badge>
    </td>
    <td tuiTd *tuiCell="'action'">
      <tui-hosted-dropdown
        [content]="dropdown"
      >
        <button
          tuiIconButton
          appearance="flat"
          [icon]="'tuiIconMoreVerticalLarge'"
          shape="rounded"
          type="button"
        ></button>
      </tui-hosted-dropdown>
    </td>
    <ng-template #dropdown>
      <tui-data-list>
        <tui-opt-group>
          <a
            tuiOption
            [routerLink]="['/patient', patient.patientCode]"
          >
            Перейти к пациенту
          </a>
        </tui-opt-group>
      </tui-data-list>
    </ng-template>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td [colSpan]="columns.length">
      <tui-table-pagination
        class="tui-space_top-2"
        [items]="pageSizes"
        [total]="response.totalElements"
        (paginationChange)="paginationChange($event)"
        [page]="page"
        [size]="size"
      ></tui-table-pagination>
    </td>
  </tr>
  </tfoot>
</table>

