:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  border: 1px solid #EDEDED;
}

.form-card-container {
  padding: 10px;
}

.form-card-row-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
